
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 70%;
}
.image:hover {
    transform: scale(1.09);
    transition: all 0.2s ease;
}

.description {
    display: flex;
    

}
.descriptionStyle {
    width: 5px;
    height: 250px;
    margin-right: 4px;
    background-color: rgb(14, 4, 14);
}
.descriptionText {

}

@media only screen and (max-width: 1000px) {
    .titleSection {
        display: flex;
        flex-direction: column-reverse;
    }
    .image {
        margin-top: 30px;
        width: 15rem;
    }
    .description {
        margin: 10px;
        padding: 30px 0px 0px 0px;

    }
  }

  @media only screen and (max-width: 950px) {
    .projectContainer {
        flex-direction: column;
    }
    .projectCard{

        margin: 0px 0px 20px 0px;
    }
  }
  @media only screen and (max-width: 800px) {
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
    }
    .skillBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skillBox img {
        height: 100px;
        align-items: center;
    }
  }
